<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Applicant Tracking System</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['jobs']" routerLinkActive="router-link-active">Jobs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="isUserAuthenticated">
          <li (click)="jumpToProfile($event)"><a class="profileButton">Profile</a></li>
          <li><a [routerLink]="" (click)="logout()">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="!isUserAuthenticated">
          <li><a [routerLink]="['login']" routerLinkActive="router-link-active">Login</a></li>
          <li><a [routerLink]="['signup']" routerLinkActive="router-link-active">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div>
