<div class="container">
  <div class="card">
    <h2 class="text-center">Dashboard</h2>
    <br />
    <div class="row justify-content-md-center">
      <div class="col-md dashboard-card dashboard-card-odd">
        <p class="stat">1</p>
        <p>Active Jobs</p>
      </div>
      <div class="col-md dashboard-card dashboard-card-even">
        <p class="stat">2</p>
        <p>Total Jobs</p>
      </div>
      <div class="col-md dashboard-card dashboard-card-odd">
        <p class="stat">4</p>
        <p>New Applicants</p>
      </div>
      <div class="col-md dashboard-card dashboard-card-even">
        <p class="stat">
          10
        </p>
        <p>Total Applications</p>
      </div>
    </div>
  </div>
</div>
