<div>
  <form [formGroup]="signUpForm" (ngSubmit)="signup()">
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Name
          <input type="text" class="form-control" formControlName="name">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Email
          <input type="text" class="form-control" formControlName="email">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Password
          <input type="password" class="form-control" formControlName="password">
        </label>
      </div>
    </div>
    <button class="custom-button" [disabled]='!signUpForm.valid' type="submit">Invite Me!</button>
  </form>
  <a class="btn custom-form-button sign-up-anchor" [routerLink]="['/login']" routerLinkActive="router-link-active" >or Login!</a>
</div>
