<div class="container">
  <div class="card">
    <form [formGroup]="signUpForm" (ngSubmit)="signup()">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label>Name
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label>Email
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label>Password
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </label>
        </div>
      </div>
      <button class="custom-button" [disabled]='!signUpForm.valid' type="submit">Invite Me!</button>
    </form>
    <button class="secondary-button" (click)=" loginRoute($event)">Login</button>
  </div>
</div>
