<div *ngIf="jobs.length > 0 else spinner">
  <h3>Jobs for you:</h3>
  <div style="width: 60%">
    <div class="" *ngFor="let job of jobs" style="border: 1px solid black;">
      <p class="title">{{job.profile}}</p>
      <p>{{job.location}}</p>
      <hr />

      <div class="" style="display: flex; flex-direction: row;">
        <div class="weirdFlex">
          <p>Start Date</p>
          <p>{{job.startDate | date}}</p>
        </div>
        <div class="weirdFlex">
          <p>Last Date</p>
          <p>{{job.targetDate | date}}</p>
        </div>
        <div class="weirdFlex">
          <p>Package</p>
          <p>{{job.package}}</p>
        </div>
        <div class="weirdFlex">
          <p>Posted On</p>
          <p>{{job.createdAt | date}}</p>
        </div>
        <div class="weirdFlex">
            <p>Experience</p>
            <p>{{job.experience}} years</p>
          </div>
      </div>
      <p>{{job.isHotJob | booleanToMessage}}</p>
      <hr class="divider" />
      <p style="text-align: left;">
        {{job.jobType}}
        <span style="float:right;"><a href="#" class="custom-button linkAsButton">Apply</a></span>
      </p>
    </div>
  </div>


</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
