.linkAsButton{
  text-decoration: none;
}
.linkAsButton:hover{
  text-decoration: none;
}
p{
  font-size: 16px;
  font-weight: 600;
}
.weirdFlex{
  padding: 5px;
}

.card{
  background-color: #FFFDE7;
  box-shadow: 1px 1px rgba(0,0,0,0.4);
  margin: 5px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

hr.divider {
  margin: 5px;
  border-width: 2px;
}
