<div class="container">
  <div class="card">
    <h4 class="text-center">Found {{noOfJobs}} Jobs For You!</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div style="margin: 10px">
          <h4>Job Type</h4>
          <form [formGroup]="jobFilter">
          <div style="margin: 20px;">
            <p><input type="radio" name="jobType" formControlName="jobType" value="Intern" (change)="onJobTypeChangeListener($event)">
              &nbsp;Intern</p>
            <p><input type="radio" name="jobType" formControlName="jobType" value="Full Time" (change)="onJobTypeChangeListener($event)">
              &nbsp;Full Time</p>
            <p><input type="radio" name="jobType" formControlName="jobType" value="Part Time" (change)="onJobTypeChangeListener($event)">
              &nbsp;Part Time</p>
            <p style="cursor: pointer" (click)="removeFilter($event)"><span style="color: red;" class="glyphicon glyphicon-remove"></span>&nbsp;Clear</p>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div *ngIf="jobs.length>0 else spinner">
        <div>
          <div class="card" *ngFor="let job of jobs">
            <h3 class="text-center" style="padding-left: 10px">{{job.profile}}<span *ngIf="job.isHotJob">&nbsp;<img
                  width="30px" src="assets/icons8-fire-48.png" /></span></h3>
            <p class="text-center">{{job.location}}</p>
            <hr class="divider" />
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-2">
                <p><b>Start Date</b></p>
                <p>{{job.startDate | date}}</p>
              </div>
              <div class="col-sm-2">
                <p><b>Apply Till</b></p>
                <p>{{job.targetDate | date}}</p>
              </div>
              <div class="col-sm-2">
                <p><b>Package</b></p>
                <p>{{job.package}}</p>
              </div>
              <div class="col-sm-2">
                <p><b>Posted On</b></p>
                <p>{{job.createdAt | date}}</p>
              </div>
              <div class="col-sm-2">
                <p><b>Experience</b></p>
                <p>{{job.experience}} years</p>
              </div>
            </div>
            <hr class="divider" />
            <div style="padding: 5px; padding-bottom: 15px;">
              <p style="text-align: left;">
                <span style="margin: auto;">{{job.jobType}}</span>
                <span style="float:right;"><button class="custom-button" type="button" (click)="viewDetails($event,job._id)">View
                    Details &gt;</button></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
