<div class="container">
  <div class="card">
    <h4 class="text-center">Found {{noOfJobs}} Jobs For You!</h4>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        Filters Coming Soon
      </div>
    </div>
    <div class="col-sm-9">
      <div *ngIf="jobs.length > 0 else spinner">
        <div>
          <div class="card" *ngFor="let job of jobs">

            <p class="title">{{job.profile}}</p>
            <p>{{job.location}}</p>
            <hr class="divider" />
            <div class="row">
              <div class="col-sm-1 col-xs-1"></div>
              <div class="col-sm-2 col-xs-2">
                <p><b>Start Date</b></p>
                <p>{{job.startDate | date}}</p>
              </div>
              <div class="col-sm-2 col-xs-2">
                <p><b>Last Date</b></p>
                <p>{{job.targetDate | date}}</p>
              </div>
              <div class="col-sm-2 col-xs-2">
                <p><b>Package</b></p>
                <p>{{job.package}}</p>
              </div>
              <div class="col-sm-2 col-xs-2">
                <p><b>Posted On</b></p>
                <p>{{job.createdAt | date}}</p>
              </div>
              <div class="col-sm-2 col-xs-2">
                <p><b>Experience</b></p>
                <p>{{job.experience}} years</p>
              </div>
            </div>
            <hr class="divider" />
            <div style="padding: 5px; padding-bottom: 15px;">
              <p style="text-align: left;">
                <span style="margin: auto;">{{job.jobType}}</span>
                <span style="float:right;"><button class="custom-button" type="button" (click)="viewDetails($event,job._id)">View Details &gt;</button></span>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
