Logged In: {{isUserAuthenticated}}
<div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Email
          <input type="text" formControlName="email" class="form-control">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Password
          <input type="password" formControlName="password" class="form-control">
        </label>
      </div>
    </div>
    <button class="custom-button"  [disabled]="!loginForm.valid"  type="submit">Submit</button>
  </form>
  <a class="btn custom-form-button sign-up-anchor" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Or SignUp!</a>

</div>
