<div class="card">
  <div style="margin: 20px">
    <div *ngIf="!loading else stillLoading">
      <h3 class="text-center">List Of Interviews</h3>
      <hr/>
      <div class="container-fluid" style="margin-top: 10px">
          <div class="table-row header">
            <div class="column index">#</div>
            <div class="wrapper attributes">
              <div class="wrapper title-comment-module-reporter">
                <div class="wrapper title-comment">
                  <div class="column title">Profile Applied For</div>
                  <div class="column comment">Candidate Name</div>
                  <div class="column comment">Status</div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-row" *ngFor="let interview of interviews; let i = index">
            <div class="column index">{{i + 1}}</div>
            <div class="wrapper attributes">
              <div class="wrapper title-comment-module-reporter">
                <div class="wrapper title-comment">
                  <div class="column title">{{interview.job.profile}}</div>
                  <div class="column comment">{{interview.candidate.name}}</div>
                  <div class="column comment">{{interview.finalStatus | titleCase}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<!-- <div class="card">
  <div style="margin: 20px">
    <div *ngIf="!loading else stillLoading">
      <h3 class="text-center">List Of Interviews</h3>
      <hr />
      <table>
        <thead>
          <th>Profile Applied For</th>
          <th>Candidate Name</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr *ngFor="let interview of interviews">
            <td>{{interview.job.profile}}</td>
            <td>{{interview.candidate.name}}</td>
            <td>{{interview.finalStatus | titleCase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<ng-template #stillLoading>
  <app-spinner></app-spinner>
</ng-template>
