/* You can add global styles to this file, and also import other style files */

.custom-button {
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
  border: 2px solid #ab47bc;
  color: #790e8b;
  margin: 4px;
  padding: 5px;
}

.custom-form-button:disabled{
  background-color: #fff;
  color: #000;
  cursor: not-allowed;
}
.custom-form-button:hover {
  background-color: #D24D57;
}
